<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/produtos">Listar Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/produtos/cadastrar">Cadastrar Produtos</a>
      </li>
    </ul>
  </div>
</nav>
