<div class="container">
  <h3>Produtos Cadastrados</h3>
  <div class="card shadow">
    <table class="table table-responsive table striped">
      <thead>
        <tr>
          <th>produto</th>
          <th>produtoId</th>
          <th></th>
        </tr>
      </thead>
      <tr *ngFor="let produto of listaProdutos ; let i= index">
        <td>{{produto.produtoNome}}</td>
        <td>{{produto.produtoId}}</td>
        <td><button (click)="excluirProduto(i)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
