<div class="container">
  <h3>Produtos Cadastrados</h3>
  <div class="card shadow">
    <table class="table table-responsive table striped">
      <thead>
        <tr>
          <th>produto</th>
          <th>produtoId</th>
          <th></th>
        </tr>
      </thead>
      <tr *ngFor="let produto of listaProdutos; let i = index">
        <td>
          <span *ngIf="!cadastroService.isEditing(i)">{{ produto.produtoNome }}</span>
          <input
            *ngIf="cadastroService.isEditing(i)"
            [(ngModel)]="produto.produtoNome"
          />
        </td>
        <td>{{ produto.produtoId }}</td>
        <td>
          <button (click)="excluirProduto(i)">Delete</button>
          <button (click)="editar(i, produto)">
            {{ cadastroService.isEditing(i) ? 'Salvar' : 'Editar' }}
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="history-container">
  <h3>Historico</h3>
  <ul>
    <li *ngFor="let action of getHistory()">{{ action }}</li>
  </ul>
  <button (click)="clearHistory()">Limpar Historico</button>
</div>

